<a href="https://colab.research.google.com/github/V-arshaSharma/Movie-Correlation/blob/main/IMBD_Contd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# import libraries
import numpy as np
import pandas as pd

In [3]:
# getting the directors tables
!gdown 1-mUkBtEtrf1hZKwFljOrq0aYGfoWY_X8

Downloading...
From: https://drive.google.com/uc?id=1-mUkBtEtrf1hZKwFljOrq0aYGfoWY_X8
To: /content/directors.csv
100% 65.4k/65.4k [00:00<00:00, 138MB/s]

In [4]:
# getting the movies tables
!gdown 1sIA90QVGrtLmmD1TQoji3_i_kWx75r8u

Downloading...
From: https://drive.google.com/uc?id=1sIA90QVGrtLmmD1TQoji3_i_kWx75r8u
To: /content/movies.csv
100% 112k/112k [00:00<00:00, 11.7MB/s]

In [5]:
# Dataframe
movies = pd.read_csv("movies.csv")
dir = pd.read_csv("directors.csv")

In [6]:
movies.shape

(1465, 12)

In [7]:
dir.shape

(2349, 4)

In [8]:
movies

,Unnamed: 0,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
1,1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
4,5,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
1460,4736,48363,0,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday
1461,4743,48370,27000,19,3151130,Clerks,7.4,755,5369,1994,Sep,Tuesday
1462,4748,48375,0,7,0,Rampage,6.0,131,5148,2009,Aug,Friday
1463,4749,48376,0,3,0,Slacker,6.4,77,5535,1990,Jul,Friday
1464,4768,48395,220000,14,2040920,El Mariachi,6.6,238,5097,1992,Sep,Friday

In [9]:
movies = movies.drop(index = 0, axis = 1)

In [10]:
movies

,Unnamed: 0,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
1,1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
4,5,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday
5,9,43606,250000000,155,873260194,Batman v Superman: Dawn of Justice,5.7,7004,4771,2016,Mar,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...
1460,4736,48363,0,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday
1461,4743,48370,27000,19,3151130,Clerks,7.4,755,5369,1994,Sep,Tuesday
1462,4748,48375,0,7,0,Rampage,6.0,131,5148,2009,Aug,Friday
1463,4749,48376,0,3,0,Slacker,6.4,77,5535,1990,Jul,Friday
1464,4768,48395,220000,14,2040920,El Mariachi,6.6,238,5097,1992,Sep,Friday

In [11]:
movies = movies.drop(columns = ['Unnamed: 0'])

In [12]:
movies

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday
5,43606,250000000,155,873260194,Batman v Superman: Dawn of Justice,5.7,7004,4771,2016,Mar,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday
1461,48370,27000,19,3151130,Clerks,7.4,755,5369,1994,Sep,Tuesday
1462,48375,0,7,0,Rampage,6.0,131,5148,2009,Aug,Friday
1463,48376,0,3,0,Slacker,6.4,77,5535,1990,Jul,Friday
1464,48395,220000,14,2040920,El Mariachi,6.6,238,5097,1992,Sep,Friday

In [13]:
dir

      Unnamed: 0      director_name    id gender
0              0      James Cameron  4762   Male
1              1     Gore Verbinski  4763   Male
2              2         Sam Mendes  4764   Male
3              3  Christopher Nolan  4765   Male
4              4     Andrew Stanton  4766   Male
...          ...                ...   ...    ...
2344        2344      Shane Carruth  7106   Male
2345        2345   Neill Dela Llana  7107    NaN
2346        2346        Scott Smith  7108    NaN
2347        2347        Daniel Hsia  7109   Male
2348        2348   Brian Herzlinger  7110   Male

[2349 rows x 4 columns]

In [14]:
dir[['director_name', 'id', 'gender']]

          director_name    id gender
0         James Cameron  4762   Male
1        Gore Verbinski  4763   Male
2            Sam Mendes  4764   Male
3     Christopher Nolan  4765   Male
4        Andrew Stanton  4766   Male
...                 ...   ...    ...
2344      Shane Carruth  7106   Male
2345   Neill Dela Llana  7107    NaN
2346        Scott Smith  7108    NaN
2347        Daniel Hsia  7109   Male
2348   Brian Herzlinger  7110   Male

[2349 rows x 3 columns]

In [15]:
dir

      Unnamed: 0      director_name    id gender
0              0      James Cameron  4762   Male
1              1     Gore Verbinski  4763   Male
2              2         Sam Mendes  4764   Male
3              3  Christopher Nolan  4765   Male
4              4     Andrew Stanton  4766   Male
...          ...                ...   ...    ...
2344        2344      Shane Carruth  7106   Male
2345        2345   Neill Dela Llana  7107    NaN
2346        2346        Scott Smith  7108    NaN
2347        2347        Daniel Hsia  7109   Male
2348        2348   Brian Herzlinger  7110   Male

[2349 rows x 4 columns]

In [16]:
dir.iloc[:,1:]

          director_name    id gender
0         James Cameron  4762   Male
1        Gore Verbinski  4763   Male
2            Sam Mendes  4764   Male
3     Christopher Nolan  4765   Male
4        Andrew Stanton  4766   Male
...                 ...   ...    ...
2344      Shane Carruth  7106   Male
2345   Neill Dela Llana  7107    NaN
2346        Scott Smith  7108    NaN
2347        Daniel Hsia  7109   Male
2348   Brian Herzlinger  7110   Male

[2349 rows x 3 columns]

In [17]:
dir

      Unnamed: 0      director_name    id gender
0              0      James Cameron  4762   Male
1              1     Gore Verbinski  4763   Male
2              2         Sam Mendes  4764   Male
3              3  Christopher Nolan  4765   Male
4              4     Andrew Stanton  4766   Male
...          ...                ...   ...    ...
2344        2344      Shane Carruth  7106   Male
2345        2345   Neill Dela Llana  7107    NaN
2346        2346        Scott Smith  7108    NaN
2347        2347        Daniel Hsia  7109   Male
2348        2348   Brian Herzlinger  7110   Male

[2349 rows x 4 columns]

In [18]:
# merge
# for merge the common we have to rename the id from the movies table to director_id as
# it is in director table both so for that we need to rename
dir.rename(columns = {'id' :'director_id'})

      Unnamed: 0      director_name  director_id gender
0              0      James Cameron         4762   Male
1              1     Gore Verbinski         4763   Male
2              2         Sam Mendes         4764   Male
3              3  Christopher Nolan         4765   Male
4              4     Andrew Stanton         4766   Male
...          ...                ...          ...    ...
2344        2344      Shane Carruth         7106   Male
2345        2345   Neill Dela Llana         7107    NaN
2346        2346        Scott Smith         7108    NaN
2347        2347        Daniel Hsia         7109   Male
2348        2348   Brian Herzlinger         7110   Male

[2349 rows x 4 columns]

In [19]:
dir.rename(columns = {'id' :'director_id'}, inplace= True)

In [20]:
dir

      Unnamed: 0      director_name  director_id gender
0              0      James Cameron         4762   Male
1              1     Gore Verbinski         4763   Male
2              2         Sam Mendes         4764   Male
3              3  Christopher Nolan         4765   Male
4              4     Andrew Stanton         4766   Male
...          ...                ...          ...    ...
2344        2344      Shane Carruth         7106   Male
2345        2345   Neill Dela Llana         7107    NaN
2346        2346        Scott Smith         7108    NaN
2347        2347        Daniel Hsia         7109   Male
2348        2348   Brian Herzlinger         7110   Male

[2349 rows x 4 columns]

In [21]:
df = pd.merge(movies,dir, on = 'director_id', how = 'inner')

In [22]:
df

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,Unnamed: 0,director_name,gender
0,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,1,Gore Verbinski,Male
1,43609,200000000,145,1065659812,Pirates of the Caribbean: Dead Man's Chest,7.0,5246,4763,2006,Jun,Tuesday,1,Gore Verbinski,Male
2,43610,255000000,49,89289910,The Lone Ranger,5.9,2311,4763,2013,Jul,Wednesday,1,Gore Verbinski,Male
3,43775,135000000,29,245724603,Rango,6.6,2051,4763,2011,Mar,Wednesday,1,Gore Verbinski,Male
4,43796,140000000,271,655011224,Pirates of the Caribbean: The Curse of the Bla...,7.5,6985,4763,2003,Jul,Wednesday,1,Gore Verbinski,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,46859,0,14,25288872,Enough Said,6.6,348,6204,2013,Sep,Wednesday,1442,Nicole Holofcener,Female
1460,47023,6500000,11,13368437,Friends with Money,5.1,128,6204,2006,Sep,Thursday,1442,Nicole Holofcener,Female
1461,47524,3000000,5,0,Please Give,6.0,57,6204,2010,Jan,Friday,1442,Nicole Holofcener,Female
1462,47962,0,0,0,Walking and Talking,6.6,7,6204,1996,Jul,Wednesday,1442,Nicole Holofcener,Female
1463,48229,250000,1,4186931,Lovely & Amazing,6.3,23,6204,2001,Aug,Friday,1442,Nicole Holofcener,Female

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1464 entries, 0 to 1463
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1464 non-null   int64
 1   budget         1464 non-null   int64
 2   popularity     1464 non-null   int64
 3   revenue        1464 non-null   int64
 4   title          1464 non-null   object
 5   vote_average   1464 non-null   float64
 6   vote_count     1464 non-null   int64
 7   director_id    1464 non-null   int64
 8   year           1464 non-null   int64
 9   month          1464 non-null   object
 10  day            1464 non-null   object
 11  Unnamed: 0     1464 non-null   int64
 12  director_name  1464 non-null   object
 13  gender         1340 non-null   object
dtypes: float64(1), int64(8), object(5)
memory usage: 171.6+ KB

In [24]:
df['year'].astype('uint16')

0       2007
1       2006
2       2013
3       2011
4       2003
        ...
1459    2013
1460    2006
1461    2010
1462    1996
1463    2001
Name: year, Length: 1464, dtype: uint16

In [25]:
# q1 : records of top 5 revenue
df.sort_values(by= "revenue", ascending=False).head()

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,Unnamed: 0,director_name,gender
104,43622,200000000,100,1845034188,Titanic,7.5,7562,4762,1997,Nov,Tuesday,0,James Cameron,Male
165,43641,190000000,102,1506249360,Furious 7,7.3,4176,4794,2015,Apr,Wednesday,32,James Wan,Male
141,43649,195000000,28,1123746996,Transformers: Dark of the Moon,6.1,3299,4788,2011,Jun,Tuesday,26,Michael Bay,Male
79,43926,94000000,123,1118888979,The Lord of the Rings: The Return of the King,8.1,8064,4777,2003,Dec,Monday,15,Peter Jackson,Male
8,43626,200000000,93,1108561013,Skyfall,6.9,7604,4764,2012,Oct,Thursday,2,Sam Mendes,Male

In [26]:
#  movies in term of popularity = [1,5]
df.sort_values(by= 'popularity').tail()['title']

15                                       The Dark Knight
314                The Hunger Games: Mockingjay - Part 1
4      Pirates of the Caribbean: The Curse of the Bla...
360                                   Mad Max: Fury Road
16                                          Interstellar
Name: title, dtype: object

In [27]:
#Q3 vote_average  of the top 7 rate movies
# movie_name, vote_average,revenue
df.sort_values(by= "vote_average" , ascending = False).head(7)[['title', 'vote_average','revenue']]

                  title  vote_average     revenue
652        Pulp Fiction           8.3   213928762
204    Schindler's List           8.3   321365567
304          Fight Club           8.3   100853753
15      The Dark Knight           8.2  1004558444
229        Forrest Gump           8.2   677945399
259          GoodFellas           8.2    46836394
47   The Usual Suspects           8.1    23341568

In [28]:
dir

      Unnamed: 0      director_name  director_id gender
0              0      James Cameron         4762   Male
1              1     Gore Verbinski         4763   Male
2              2         Sam Mendes         4764   Male
3              3  Christopher Nolan         4765   Male
4              4     Andrew Stanton         4766   Male
...          ...                ...          ...    ...
2344        2344      Shane Carruth         7106   Male
2345        2345   Neill Dela Llana         7107    NaN
2346        2346        Scott Smith         7108    NaN
2347        2347        Daniel Hsia         7109   Male
2348        2348   Brian Herzlinger         7110   Male

[2349 rows x 4 columns]

In [29]:
# Q: for every director list only the top grossing movies
# director_name, title, revenue
desc_by_revenue = df.sort_values(by= 'revenue', ascending = False)

In [30]:
desc_by_revenue.drop_duplicates(subset=['director_name'], keep = "first")

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,Unnamed: 0,director_name,gender
104,43622,200000000,100,1845034188,Titanic,7.5,7562,4762,1997,Nov,Tuesday,0,James Cameron,Male
165,43641,190000000,102,1506249360,Furious 7,7.3,4176,4794,2015,Apr,Wednesday,32,James Wan,Male
141,43649,195000000,28,1123746996,Transformers: Dark of the Moon,6.1,3299,4788,2011,Jun,Tuesday,26,Michael Bay,Male
79,43926,94000000,123,1118888979,The Lord of the Rings: The Return of the King,8.1,8064,4777,2003,Dec,Monday,15,Peter Jackson,Male
8,43626,200000000,93,1108561013,Skyfall,6.9,7604,4764,2012,Oct,Thursday,2,Sam Mendes,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1430,46869,8000000,7,18124262,Another Year,7.0,97,5709,2010,Nov,Friday,947,Mike Leigh,Male
1443,46355,13000000,6,11130889,The Astronaut Farmer,6.2,123,5951,2006,Oct,Sunday,1189,Michael Polish,Male
1074,45834,20000000,9,10442808,Alone in the Dark,3.1,173,5148,2005,Jan,Friday,386,Uwe Boll,Male
1407,46370,15000000,26,8459458,Chloe,5.9,498,5599,2009,Mar,Wednesday,837,Atom Egoyan,Male
1450,46975,7000000,7,2062066,Auto Focus,6.1,56,5970,2002,Oct,Friday,1208,Paul Schrader,NaN

In [31]:
!gdown 1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_

Downloading...
From: https://drive.google.com/uc?id=1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_
To: /content/mckinsey.csv
100% 83.8k/83.8k [00:00<00:00, 80.3MB/s]

In [32]:
mk = pd.read_csv("mckinsey.csv")

In [33]:
# group by
mk

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [34]:
y = mk.groupby('continent')[['population']].mean()

In [35]:
y = mk.groupby('continent')[['population']].max()

In [36]:
y

           population
continent
Africa      135031164
Americas    301139947
Asia       1318683096
Europe       82400996
Oceania      20434176

In [37]:
y.shape

(5, 1)

In [38]:
# access the column
y.loc['Americas']

population    301139947
Name: Americas, dtype: int64

In [39]:
x = y.reset_index()

In [40]:
mk

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [41]:
pd.merge(x, mk, on = "population")

,continent_x,population,country,year,continent_y,life_exp,gdp_cap
0,Africa,135031164,Nigeria,2007,Africa,46.859,2013.977305
1,Americas,301139947,United States,2007,Americas,78.242,42951.653090
2,Asia,1318683096,China,2007,Asia,72.961,4959.114854
3,Europe,82400996,Germany,2007,Europe,79.406,32170.374420
4,Oceania,20434176,Australia,2007,Oceania,81.235,34435.367440

In [42]:
pd.merge(x, mk, on =["continent", "population"])

  continent  population        country  year  life_exp       gdp_cap
0    Africa   135031164        Nigeria  2007    46.859   2013.977305
1  Americas   301139947  United States  2007    78.242  42951.653090
2      Asia  1318683096          China  2007    72.961   4959.114854
3    Europe    82400996        Germany  2007    79.406  32170.374420
4   Oceania    20434176      Australia  2007    81.235  34435.367440

In [49]:
df3 = mk.groupby('continent')[['population', 'gdp_cap']].aggregate(['max', 'min', 'count', 'mean'])

In [50]:
df3

           population                                    gdp_cap  \
                  max      min count          mean           max
continent
Africa      135031164    60011   624  9.916003e+06   21951.21176
Americas    301139947   662850   300  2.450479e+07   42951.65309
Asia       1318683096   120447   396  7.703872e+07  113523.13290
Europe       82400996   147962   360  1.716976e+07   49357.19017
Oceania      20434176  1994794    24  8.874672e+06   34435.36744


                    min count          mean
continent
Africa       241.165876   624   2193.754578
Americas    1201.637154   300   7136.110356
Asia         331.000000   396   7902.150428
Europe       973.533195   360  14469.475533
Oceania    10039.595640    24  18621.609223

In [51]:
df3.loc["Africa", ('population', 'min')]

60011

In [52]:
df3.loc["Europe", ('population', 'max')] #we need to make tuple becoze we have two column uder population like ('population', 'max')

82400996

In [47]:
# if we need max of population and average of gdp_cap column then we use dictonary
result = mk.groupby('continent')[['population', 'gdp_cap']].aggregate({'population' : 'max', 'gdp_cap' :'mean'})

In [48]:
result.rename(columns = {'population':'pop_max', 'gdp_cap' : 'avg_gdp'})

              pop_max       avg_gdp
continent
Africa      135031164   2193.754578
Americas    301139947   7136.110356
Asia       1318683096   7902.150428
Europe       82400996  14469.475533
Oceania      20434176  18621.609223

In [55]:
df4 = mk.groupby(['continent', 'year'])[['population', 'gdp_cap']].aggregate(['max', 'min'])
df4

                population                 gdp_cap
                       max      min            max           min
continent year
Africa    1952    33119096    60011    4725.295531    298.846212
          1957    37173340    61325    5487.104219    335.997115
          1962    41871351    65345    6757.030816    355.203227
          1967    47287752    70787   18772.751690    412.977514
          1972    53740085    76595   21011.497210    464.099504
          1977    62209173    86796   21951.211760    502.319733
          1982    73039376    98593   17364.275380    462.211415
          1987    81551520   110812   11864.408440    389.876185
          1992    93364244   125911   13522.157520    410.896824
          1997   106207839   145608   14722.841880    312.188423
          2002   119901274   170372   12521.713920    241.165876
          2007   135031164   199579   13206.484520    277.551859
Americas  1952   157553000   662850   13990.482080   1397.717137
          1957   171984000   764900   14847.127120   1544.402995
          1962   186538000   887498   16173.145860   1662.137359
          1967   198712000   960155   19530.365570   1452.057666
          1972   209896000   975199   21806.035940   1654.456946
          1977   220239000  1039009   24072.632130   1874.298931
          1982   232187835  1116479   25009.559140   2011.159549
          1987   242803533  1191336   29884.350410   1823.015995
          1992   256894189  1183669   32003.932240   1456.309517
          1997   272911760  1138101   35767.433030   1341.726931
          2002   287675526  1101832   39097.099550   1270.364932
          2007   301139947  1056608   42951.653090   1201.637154
Asia      1952   556263527   120447  108382.352900    331.000000
          1957   637408000   138655  113523.132900    350.000000
          1962   665770000   171863   95458.111760    388.000000
          1967   754550000   202182   80894.883260    349.000000
          1972   862030000   230800  109347.867000    357.000000
          1977   943455000   297410   59265.477140    371.000000
          1982  1000281000   377967   33693.175250    424.000000
          1987  1084035000   454612   28118.429980    385.000000
          1992  1164970000   529491   34932.919590    347.000000
          1997  1230075000   598561   40300.619960    415.000000
          2002  1280400000   656397   36023.105400    611.000000
          2007  1318683096   708573   47306.989780    944.000000
Europe    1952    69145952   147962   14734.232750    973.533195
          1957    71019069   165110   17909.489730   1353.989176
          1962    73739117   182053   20431.092700   1709.683679
          1967    76368453   198676   22966.144320   2172.352423
          1972    78717088   209275   27195.113040   2860.169750
          1977    78160773   221823   26982.290520   3528.481305
          1982    78335266   233997   28397.715120   3630.880722
          1987    77718298   244676   31540.974800   3738.932735
          1992    80597764   259012   33965.661150   2497.437901
          1997    82011073   271192   41283.164330   3193.054604
          2002    82350671   288030   44683.975250   4604.211737
          2007    82400996   301931   49357.190170   5937.029526
Oceania   1952     8691212  1994794   10556.575660  10039.595640
          1957     9712569  2229407   12247.395320  10949.649590
          1962    10794968  2488550   13175.678000  12217.226860
          1967    11872264  2728150   14526.124650  14463.918930
          1972    13177000  2929100   16788.629480  16046.037280
          1977    14074100  3164900   18334.197510  16233.717700
          1982    15184200  3210650   19477.009280  17632.410400
          1987    16257249  3317166   21888.889030  19007.191290
          1992    17481977  3437674   23424.766830  18363.324940
          1997    18565243  3676187   26997.936570  21050.413770
          2002    19546792  3908037   30687.754730  23189.801350
          2007    20434176  4115771   34435.367440  25185.009110

In [56]:
# too many rows lets filter year > 2000
temp = mk.query('year > 2000')
df4 = temp.groupby(['continent', 'year'])[['population', 'gdp_cap']].aggregate(['max', 'min'])
df4

                population               gdp_cap
                       max      min          max           min
continent year
Africa    2002   119901274   170372  12521.71392    241.165876
          2007   135031164   199579  13206.48452    277.551859
Americas  2002   287675526  1101832  39097.09955   1270.364932
          2007   301139947  1056608  42951.65309   1201.637154
Asia      2002  1280400000   656397  36023.10540    611.000000
          2007  1318683096   708573  47306.98978    944.000000
Europe    2002    82350671   288030  44683.97525   4604.211737
          2007    82400996   301931  49357.19017   5937.029526
Oceania   2002    19546792  3908037  30687.75473  23189.801350
          2007    20434176  4115771  34435.36744  25185.009110

In [59]:
df4.loc[('Europe', 2002),('population', 'max')]

82350671